MONGODB_URI=mongodb+srv://administrator:yZkgjzLZz7fLiC9s@savorspreelocaldevelopm.vucvw.mongodb.net/riza-development
PORT=5000
NODE_ENV=development
BREVO_API_KEY=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
JWT_SECRET=64333f19993bb83814e903a38221320bf8c34ef44dc1c242b2afa4d9988c4592
FRONTEND_BUSINESS_DASHBOARD_URI=https://business-dashboard.savorspree.com
MAIN_BACKEND_URI=http://localhost:5000
REDIS_HOST=redis-14257.c302.asia-northeast1-1.gce.redns.redis-cloud.com
REDIS_PORT=14257
REDIS_PASSWORD=dvaslPWexPggzCIRYSWDQGms48mXmTNI
CLOUDINARY_API_SECRET=0lOQBgdIsgaGd24ubX-udc3Xacg
CLOUDINARY_API_KEY=783649256835991
CLOUDINARY_CLOUD_NAME=dziodufj8
